<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Forum</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p class="intro">I got the bachelor's degree in software engineering in 2011 and have since been working for software companies of all sizes from all around the globe as a freelancer. Currently, I enjoy working as a full-stack architect in PHP and JavaScript projects, where my experience and his deep understanding of architecture and theory are most impactful.</p>
      <p>
        My portfolio <a href="https://topstar0206.wix.com/liqiang" target="_blank"> Here</a>.
      </p>
    </div>
  </section>
</body>
</html>
